html,
body {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    height: 100%;
    background-color: #e3e1e102;


}

.container-middle {
    display: inline-block;
    vertical-align: top;
}


.left-bg,
.center-bg,
.right-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-bg {
    left: 0;
    width: 100%;
    background-image: url('images/bg.jpg');
    z-index: -1;
    opacity: 0.9;
 
}

.center-bg {
    left: 0;
    width: 100%;
    background-image: url('images/bg1.jpg');
    z-index: -1;
    opacity: 0.9;

}

.right-bg {
    left: 0;
    width: 100%;
    background-image: url('images/logo2.jpg');
    z-index: -1;
    opacity: 0.8;
   
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

}

.logo {
    max-width: 350px;
    max-height: 150px;
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto;


}


h1 {

    margin-top: 15px;
    text-align: center;
    font-size: 10px;
    font-family: fantasy;
    color: #000;
    transition: transform 3s ease;



}

h4 {

    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: #000;
    transition: transform 2s ease;



}



#MiddleSection {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    text-align: center;
    padding: 30px;
    text-align: left;
    display: inline;
    vertical-align: top;
}

#middle_img {
    margin: 25px 15px;
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    opacity: 0.7;
    transition: transform 0.3s ease-in-out;
}

#middle_img:hover {
    transform: scale(0.8);
}

.container-middle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.h4middle {
    text-align: start;
    margin: 15px 15px;
}



.side-section {
    
    display: block;
}

.section {
    width: 100%;
    max-width: 250px;
    display: block;
    padding: 5px;
    color: #0d0d0d;
    box-sizing: border-box;
    position: relative;
}

.section p {
    color: #090707;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

.section img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
    margin: 0;
}

h3 {
    margin: 5px 5px;
    font-size: 12px;
}

p {
    margin: 5px 5px;
    width: 100%;
    max-width: 300px;
}

.text-container {
    display: block;
    width: 80%;
}

#date {
    font-size: 10px;
    color: #bbbdbe;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

aside {
    width: 80%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    background-color: #F1F7FB;
}

 

.Main_Contain {
    margin-top: 10%;
    color: black;
    position: relative;
    display: block;
}

.Main_Contain h1,
h4 {
    color: #333333;
}

.link {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
}

.link a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bolder;
    color: whitesmoke;
}

.Images {
    display: flex;
    justify-content: center;
}

.Images img {
    width: 25%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 20px;
}


.Images img:hover {

    filter: grayscale(100%);
}

.para {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    height: 100px;

}




.video-container {
    position: relative;
    max-width: 100%;
}

video {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInAnimation 3s ease-in-out forwards;
}

h1:hover {
    transform: scale(0.5);
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.section:hover .text-container {
    background-color: #809bf5;
    color: #fff;
    cursor: pointer;
}

.text-overlay-bottom {
    margin: 10px;
}

.text-overlay-bottom p {
    width: 500px;
    font-size: 13px;
    margin-left: 10px;
    opacity: 0;
    animation: fadeInAnimation 2s ease-in-out forwards;


}

.text-overlay-bottom h2 {
    margin-left: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    color: #ffffff;
    background-color: #000;
    font-size: 12px;
}

a {
    color: #ffffff;
}



.merger {
    display: block;
}

#middle_img {
    margin: 25px 15px;
    width: 650px;
    height: fit-content;
    border-radius: 10px;
    opacity: 0.7;
    background-color: #000;
    transition: transform 0.3s ease-in-out;

}

#middle_img:hover {
    transform: scale(0.8);

}

.para p {
    width: 450px;
    height: 450px;
    object-fit: cover;
    font-size: small;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 10px;
}








@media screen and (min-width: 900px) {


    header {
        max-width: 200px;
        max-height: 100px;
        display: block;
        text-align: center;
        display: inline;
    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    nav {
        width: 35%;
        float: right;
    }

    nav li {
        display: inline;
        margin: 0 15px;
        position: relative;
        color: white;
    }

    nav ul {
        padding: 5px;
        animation: fadeInAnimation 1s ease-in-out forwards;
    }

    nav a {
        color: #ffffff;
        text-shadow:0 0 5px #809bf5;
        font: bold 20px Tahoma;
    }

    h1 {
        width: 50%;
        margin: 0 auto;
        font-size: 3.5em;
        color: #ffffff;
    }
    .left-bg,
    .center-bg,
    .right-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .left-bg {
        left: 0;
        width: 33.33%;
    }

    .center-bg {
        left: 33.33%;
        width: 33.33%;
    }

    .right-bg {
        left: 66.66%;
        width: 33.33%;
    }
    .section1 {
        color: #ffffff;
        font-size: 3em;
        display: inline;
    }

    .section2 {
        color: #ffffff;
        font-size: 3em;
        display: inline;
    }

    .section3 {
        color: #ffffff;
        font-size: 3em;
        display: block;
    }

    p {
        width: 100%;
        display: inline-block;
        font-size: 0.8em;
    }

    footer {
        color: #ffffff;
        background-color: #000;
    }

    a {
        color: #ffffff;
    }



.Main_Contain {
    margin-top: 10%;
    color: black;
    position: relative;
    height: 100%;
    display: block;
}

.Main_Contain h1,
h4 {
    color: #333333;
}





.link {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
}

.link a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px;
    font-weight: bolder;
    color: whitesmoke;
}

.Images {
    display: flex;
    justify-content: center;

}

.Images img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 20px;

}

.para p {
    width: 100%;
    height: 450px;
    object-fit: cover;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 10px;
}


#MiddleSection {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    text-align: center;
    padding: 30px;
    text-align: left;
    display: inline;
    vertical-align: top;
}



#middle_img {
    margin: 25px 15px;
    width: 50%;
    max-width: 650px;
    height: fit-content;
    border-radius: 10px;
    opacity: 0.7;

    transition: transform 0.3s ease-in-out;

}



.container-middle {
    width: 100%;
}

.h4middle {
    text-align: left;
    margin-left: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

.side-section {
    display: inline;

}

.merger {
    display: flex;
}

.section {

    width: 100%;
    display: inline;
    padding: 5px;
    color: #0d0d0d;
    box-sizing: border-box;
    position: relative;
    animation-duration: 3s;
    animation-name: slidein;
}

.section p {
    color: #090707;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}


.section img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
    margin: 0;
}

h3 {
    margin: 10px 10px;
    animation-duration: 2s;
    animation-name: slidein;
}

p {
    margin: 10px 10px;

}

.text-container {
    display: block;
    width: 80%;
}

#date {
    font-size: 12px;
    color: #bbbdbe;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

aside {
    width: 80%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    background-color: #F1F7FB;
    animation-duration: 8s;
    animation-name: slidein;
}

.section:hover .text-container {
    background-color: #809bf5;
    color: #fff;
    cursor: pointer;
}

.text-overlay-bottom {
    margin: 20px;
}

.text-overlay-bottom p {
    width: 650px;
     max-width: 650px;
    font-size: 15px;
    margin-left: 20px;
    opacity: 0;
    animation: fadeInAnimation 2s ease-in-out forwards;


}

.text-overlay-bottom h2 {
    margin-left: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}



}   