/* When using a mobile-first approach, base CSS styles are for small screen layout */

html,
body {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    height: 100%;
    background-color: #e3e1e102;
    /* Set a light background color */
    display: block;

}

.container-middle {
    display: inline-block;
    vertical-align: top;
  }

.left-bg,
.center-bg,
.right-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.left-bg {
    left: 0;
    width: 33.33%;
    background-image: url('images/bg.jpg');
    z-index: -1;
    opacity: 0.9;
    /* Adjust the opacity value  */
}

.center-bg {
    left: 33.33%;
    width: 33.33%;
    background-image: url('images/bg1.jpg');
    z-index: -1;
    opacity: 0.9;
    /* Adjust the opacity value  */
}

.right-bg {
    left: 66.66%;
    width: 33.33%;
    background-image: url('images/logo2.jpg');
    z-index: -1;
    opacity: 0.8;
    /* Adjust the opacity value  */
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* Adjust the height of the header image as needed */
    background-image: url('images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.logo {
    max-width: 350px;
    /* Define the maximum width of the logo image */
    max-height: 150px;
    /* Define the maximum height of the logo image */
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto;

}


h1 {

    margin-top: 15px;
    text-align: center;
    font-size: 10px;
    font-family: fantasy;
    color: #000;



}

h4 {

    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    color: #000;



}

.Main_Contain {
    margin-top: 10%;
    color: black;
    position: relative;
    height: 100%;
    display: block;
}

.Main_Contain h1,
h4 {
    color: #333333;
    /* Set the font color for h1 */
}



.section {
    flex-grow: 1;
    padding: 20px;
    color: #ffffff;
    box-sizing: border-box;
    width: 33.33%;


}

.section p {
    font-size: 28px;
    /* Adjust the font size as desired */
    font-family: cursive;
    color: #000;

}

.link {
    position: absolute;
    bottom: 20px;
    /* Adjust the distance from the bottom as desired */
    left: 20px;
    /* Adjust the distance from the left as desired */
    color: white;
    font-size: 18px;
    /* Adjust the font size as desired */
}

.link a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px;
    font-weight: bolder;
    color: whitesmoke;
}

.Images {
    display: flex;
    justify-content: center;

}

.Images img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 20px;
}

.para {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.para p {
    width: 450px;
    height: 450px;
    object-fit: cover;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 10px;
}


.video-container {
    position: relative;
    max-width: 100%;
}

video {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}









h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#MiddleSection {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    text-align: center;
    padding: 30px;
    text-align: left; 
    display: inline-block;
    vertical-align: top;
}

#MiddleSection h1 {
    color: #000000;
    font-weight: bold;
}

#middle_img {
    margin: 25px 15px;
    width: 650px;
    height: fit-content;
    border-radius: 10px;
    opacity: 0.7;
}
.h4middle
{
    text-align: left; 
}
.side-section {
    display: flex;
  }
  .section img
  {
    width: 10%;
  }
h3{
    color: #000;
}

















/* @media screen and (min-width:900px) {


    header {
        max-width: 200px; /* Define the maximum width of the logo image */
max-height: 100px;
/* Define the maximum height of the logo image */
display: block;
text-align: center;
display: inline;

}


.logo {
    display: block;
    margin: 0 auto;
}

nav {
    width: 35%;
    float: right;
}

nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
    color: white;


}

nav ul {
    /* float: left; */
    padding: 5px;

}

nav a {
    color: #ffffff;
    font: bold 20px Tahoma;
}

h1 {
    width: 50%;
    margin: 0 auto;
    font-size: 3.5em;
    color: #ffffff;

}

.section1 {
    color: #ffffff;
    font-size: 3em;
    display: inline;
}

.section2 {
    color: #ffffff;
    font-size: 3em;
    display: inline;
}

.section3 {
    color: #ffffff;
    font-size: 3em;
    display: block;
}

p {
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
}

footer {
    color: #ffffff;
}

a {
    color: #ffffff;
}

























}

*/