html,
body {
    height: 100%;
    margin: 0;
}
h1
{
    color: #fff;
    text-shadow:0 0 5px hsl(249, 85%, 73%);
}
.container-middle {
    display: inline-block;
    vertical-align: top;
}

.middle-content h1 {
    margin: 30px;
}

.container-middle {
    width: 100%;
    display: flex;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.logo {
    max-width: 300px;
    max-height: 150px;
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto;


}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

}

.h4middle {
    text-align: left;
    margin-left: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

.side-section {
    display: inline;

}

.container {
    position: relative;
    height: 100%;
    background-image: url(images/goa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 150vh;



}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section {

    width: 100%;
    display: inline-block;
    padding: 5px;
    color: #0d0d0d;
    box-sizing: border-box;
    position: relative;
    animation-duration: 10s;
    animation-name: slidein;
}

.section p {
    color: #090707;
    font-weight: bold;
    width: 100%;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}


.section img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
    margin: 0;
}

h3 {
    margin: 5px 10px;
    animation-duration: 2s;
    animation-name: slidein;
    font-size: 0.3em;
    font-size: 0.8em;
}

#sec {
    width: 50%;
}

p {
    font-size: 12px;
    margin: 5px 10px;

}

.text-container {
    display: block;
    width: 70%;
}

#date {
    margin: 5px 10px;
    font-size: 10px;
    color: #bbbdbe;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

aside {
    width: 70%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    background-color: #F1F7FB;
}

.section:hover .text-container {
    background-color: #809bf5;
    color: #fff;
    cursor: pointer;
}



@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
nav li {
    display: inline;
    margin: 0 15px;
    position: relative;
    color: white;
}
nav a {
    color: #fff;
    text-shadow:0 0 5px hsl(249, 85%, 73%);
    font: bold 12px Tahoma;
}
@media screen and (min-width: 900px) {

    header {
        max-width: 200px;
        max-height: 100px;
        display: block;
        text-align: center;
        display: inline;



    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    nav {
        width: 35%;
        float: right;
    }

    nav li {
        display: inline;
        margin: 0 15px;
        position: relative;
        color: white;
    }

    nav ul {
        padding: 5px;
        animation: fadeInAnimation 1s ease-in-out forwards;
    }

    nav a {
        color: #ffffff;
        font: bold 20px Tahoma;
    }
}